*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: rgb(255, 106, 0);
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-evenly;
}

.item{
    color: black;
    background-color: white;
    width: 100px;
    margin-top: 40px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.register{
    color: white;
    margin-top: 25px;
}

.media{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    color: white;
    height: 50px;
    font-size: 30px;
    padding-top: 8px;
    gap: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 6px;
    padding-left: 5px;
    justify-content: space-evenly;
}

#copyright{
    background-color: black;
    color: white;
    font-size: 6px;
    text-align: center;
    height: 400px;
}

.banner {
    max-width: 100%;
    height: auto;
}
  
#banner {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    justify-content: space-evenly;

}

.envase{
    width: 300px;
    height: 300px;
    border: solid 1px black;
    margin: 20px;
    text-align: center;
}

.envase img{
    width: 100%;
}

.envase p{
    background-color: chocolate;
    color: white;
    width: 80px;
    height: 40px;
    padding: 9px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 60px;
    
}
